body {
  .snackbar-container {
    left: 0 !important;
    z-index: 99999;
    display: flex !important;
    justify-content: center !important;
    min-width: 100% !important;
    max-width: none !important;
    height: 61px !important;
    margin: 0 !important;
    color: var(--anzhiyu-white) !important;
    background: var(--anzhiyu-main) !important;
    border-radius: 0 !important;
    transform: none !important;

    p {
      font-size: 1.1rem !important;
      font-weight: 700 !important;
      text-align: center !important;
    }

    .action {
      padding: 4px 6px !important;
      font-weight: 700;
      color: var(--anzhiyu-white) !important;
      border: var(--style-border) !important;
      border-radius: 8px;
      transition: 0.3s;

      &:hover {
        color: var(--anzhiyu-main) !important;
        background: var(--anzhiyu-white);
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: "";
      background: var(--anzhiyu-white);
      opacity: 0.1;
      transform-origin: left;
      animation: snackbar-progress var(--anzhiyu-snackbar-time) linear forwards;
      will-change: transform;
    }
  }
}

@keyframes snackbar-progress {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
